.link-opacity {
    color: #2f80ed;
    text-decoration: none;
    transition: color .2s ease-in;
    font-weight: normal;
    font-size: inherit;
    opacity: 1;
    transition: color .2s ease-in, opacity .2s ease-in;
  }
  
  .link-opacity:hover {
    color: hsl(319, 100%, 50%);
    opacity: .5;
  }